body {
    font-family: -apple-system,BlinkMacSystemFont,San Francisco,Segoe UI,Roboto,Helvetica Neue,sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    color: #5E5E5E;
    -webkit-text-size-adjust: 100%;
}



.sidebar {
            background: #39c;
            width: 18%;
            position: fixed;
            // transform: translateX(-250px);
            transition: all 0.15s ease;
            // z-index: 2;
            height: 100%;
            -webkit-overflow-scrolling: touch;
        }

        .sidebar_header {
            border-bottom: 1px solid #67B8DE;
            color: #fff;
            font-size: 36px;
            font-weight: 300;
            height: 130px;
            line-height: 130px;
            margin-bottom: 0;
            text-align: center;
        }


        .sidebar_nav {
            font-weight: bold;
            max-height: 100%;
            overflow-y: auto;
        }
        
        .sidebar_nav_interior {
            height: 100%;
            padding: 40px 40px 170px;
        }

        .section_header {
            font-size: 1em;
            margin-top: 0;
            margin-bottom: 10px;
            font-weight: normal;
        }

        .section_links {
            font-size: 0.9em;
            font-weight: normal;
            list-style: none;
            margin-left: 20px;
        }

        .section_item {
            list-style: none;
        }

        .sidebar a {
            display: block;
            opacity: 0.75;
            color:#fff;
            padding: 16px;
            text-decoration: none;
        }
        
        .sidebar a.active {
            color: white;
            font-weight: bold;
            opacity: 1;

        }
        
        .sidebar a:hover:not(.active) {
            // background-color: #555;
            color: white;
            opacity: 1;
        }
 
.content{
    margin-left:24%;
    margin-right:5%;
    padding:1px 16px;
    height:100%;
    text-align: justify;
}